.range-slider{
	width: 280px;
	height: auto;
	margin: auto;
	overflow: hidden;
}
.slider-holder{
	width: 280px;
	margin: auto;
	height: 70px;
	background:#47baf0;
	position: relative;
}
#slider_1,
#slider_2,
#slider_3,
#slider_4
{
	width: 210px;
	margin: auto;
	margin-top: 24px;
}
.ui-rangeSlider{
	height:70px;
}
.ui-rangeSlider .ui-rangeSlider-innerBar{
	height:70px;
	margin:0;
	background:#47baf0;
}
.ui-rangeSlider .ui-rangeSlider-handle{
	width:0px;
	height:70px;
	background:#47baf0;
	cursor:col-resize;
}
.ui-rangeSlider .ui-rangeSlider-bar{
	margin: 0;
	background:#47baf0;
	height:70px;
	cursor:move;
	cursor:grab;
	cursor: -moz-grab;
	overflow: hidden;
}
.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging{
	cursor:	-moz-grabbing;
	cursor:grabbing;
}
.ui-rangeSlider-arrow{
	width: 1px;
	height:70px;
}
.ui-rangeSlider-arrow-inner{
	display: none;
}
.ui-rangeSlider-container{
	height:70px;
}
.ui-rangeSlider-noArrow .ui-rangeSlider-container{
	margin:0;
}

.ui-rangeSlider-label{
	white-space: nowrap;
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	cursor: col-resize;
	background: #fff;
	z-index: 1;
}
.ui-rangeSlider-label-inner{
	display:none;
}
input.ui-editRangeSlider-inputValue{
	width:3em;
	vertical-align: middle;
	text-align:center;
}

.ui-rangeSlider-container::before{
	display: block;
	width: auto;
	padding: 0 10px;
	height: 70px;
	line-height: 70px;
	color: #193e73;
	text-transform: uppercase;
	font-family: 'AAvanteLtLight', sans-serif;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	z-index: 1;
}
#slider_1 .ui-rangeSlider-container::before{
	content: 'Кол.комнат';
}
#slider_2 .ui-rangeSlider-container::before{
	content: 'Этаж';
}
#slider_3 .ui-rangeSlider-container::before{
	content: 'Площадь';
}
#slider_4 .ui-rangeSlider-container::before{
	content: 'цена до';
}


#slider_4 .ui-rangeSlider-leftLabel{
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
}
#slider_4 .ui-rangeSlider-rightLabel{
	width: 100px;
	transform: translateX(-12px);
}
#slider_1{
	margin-top: 0;
}
#slider_4 {
	margin: initial !important;
	margin-top: 24px !important;
	padding-left: 36px;
	background:#47baf0;
}
.ui-rangeSlider-arrow{
	width: 1px;
	height:70px;
}
.ui-rangeSlider-arrow-inner{
	display: none;
}
.ui-rangeSlider-container{
	height:70px;
}
.ui-rangeSlider-noArrow .ui-rangeSlider-container{
	margin:0;
}
.slider-holder{
	height: 70px;
}
.ui-rangeSlider-label{
	width: 70px;
	height: 70px;
	line-height: 70px;
}
@media only screen and (max-width: 1680px) {
	.slider-holder {
		height: 50px;
	}
	#slider_1,
	#slider_2,
	#slider_3,
	#slider_4 {
		width: 230px;
		margin-top: 20px;
	}
	#slider_1 {
		margin-top: 0;
	}
	.ui-rangeSlider{
		height:50px;
	}
	.ui-rangeSlider .ui-rangeSlider-innerBar{
		height:50px;
	}
	.ui-rangeSlider .ui-rangeSlider-handle{
		height:50px;
	}
	#slider_4 {
		margin-top: 20px !important;
	}
	.ui-rangeSlider-container::before {
		height: 50px;
		line-height: 50px;
	}

	.ui-rangeSlider-container{
		height:50px;
	}
	.slider-holder{
		height: 50px;
	}
	.ui-rangeSlider .ui-rangeSlider-bar {
		height: 50px;
	}
	.ui-rangeSlider-label{
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	#slider_4 .ui-rangeSlider-rightLabel {
		transform: translateX(-28px);
	}
}